body {
    padding: 0;
    margin: 0;
    color: grey;
}
h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: decimal;
}

button {
    padding: 10px 15px;
    background-color: black;
    color: white;
}

.control_panel {
    background-color: burlywood;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    width: 50%;
}

ul.info {
    color: grey;
}

ul.pluses {
    color: green;
}

ul.minuses {
    color: red;
}

.page_title {
    display: block;
    margin: 0 auto;
    width: 50%;
}








.popup {
    display: block;
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

.popup > .popup_content {
    background-color: bisque;
    padding: 20px;
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
}

.popup > .popup_mask {
    position: absolute;
    background-color: grey;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}





.hidden {
    display: none;
}
